.modal {
  display: flex;
  margin: auto;
  max-width: 360px;
  padding: 0;
  width: 32em;
  border-radius: 12px;

  position: relative;
  flex-direction: column;
  justify-content: center;

  background: #fff;
  font-family: inherit;
  font-size: 1rem;
}

.modalContent {
  z-index: 1;
  justify-content: center;
  margin: 0;

  color: #545454;
  font-size: 1.125em;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  word-wrap: break-word;
}
.modalTitle {
  padding: 24px 24px 0px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: rgb(51, 51, 51);
  line-height: 21px;
  margin-top: 0px;
  white-space: pre-line;
  letter-spacing: 0px;
}
.modalFooter {
  height: 56px;
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  padding: 0px 8px;
  margin-top: 16px;
}

.modalFooter button {
  width: 64px;
  height: 100%;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: rgb(95, 0, 128);
  background: transparent;
  cursor: pointer;
}
